<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Familia </h1>
    <ul> 
        {% for familiares in Familia %}
        <li> {{Familia.miembro}}, {{Familia.edad}}</li>
        {% endfor %}

        'Familia Completa'
        {% for parientes in familia_paterna %}
        <li><familia_paterna class = "nombre"></familia_paterna>, <familia_paterna class = "edad"></familia_paterna>, <familia_paterna class = 'miembro'></familia_paterna></li>
        {% endfor %}
    </ul>
</body>
</html>